/* FONT */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');
* {
    font-family: 'JetBrains Mono', monospace;
}

html, body {
    height: 100%;
}

#background-for-images {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#p5canvas {
    position: absolute;
    top: 0;
}

.invert-colors .title, .invert-colors .link {
    color: white;
    mix-blend-mode: difference;
}

.title {
    font-size: 8vw;
}

.sections {
    font-size: 5vw
}

.cache {
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: -1;
}

.cache img {
    position: absolute;
    top: 0;
    width: 100%;
}
