/* FONT */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');
* {
    font-family: 'JetBrains Mono', monospace;
}

html, body {
    height: 100%;
}

#p5canvas {
    position: absolute;
    top: 0;
}

.invert-colors {
    color: white;
    mix-blend-mode: difference;
}

.title {
    font-size: 8vw;
}

.link {
    font-size: 5vw;
    color: white;
}
