/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
}

html, body {
    height: 100%;
}

/* title - inverted background colors */
.background {
    /* test alignment 
    background-image: url(../resources/media/placeholder.jpg);
    */
    background-image: url(../resources/media/shark.jpg);
}
.text-inverted-colors {
    /* test alignment 
    background-image: url(../resources/media/placeholder.jpg);
    */
    background-image: url(../resources/media/shark.jpg);
    /* clip background-image to text */
    background-clip: text; -webkit-background-clip: text;
    color: transparent;
    /* invert colors */
    filter: invert(1);
}
